.wrapper {
    width: 50vh;
    height: 30vh;
    text-align: center;
    background-color: lightgreen;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 10% 5% 10%;
    border: 4px solid black;
}

h1 {
    font-size: 2.5em;
    color: darkgreen;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 3px;
    margin-top: 0;
    color: gray;
    letter-spacing: 2px;
}

input {
    width: 50%;
}

button {
    margin-top: 5px;
    color: white;
    background-color: darkgreen;
    padding: 1% 1%;
    border-radius: 15%;
}